@import '~bulma/bulma';

@font-face {
    font-family: 'Druk';
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/DrukText-Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: 'ParaType';
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ParaType.otf) format("otf");
  }