.blog-page-holder {
    background-image: url("/img/gradient.jpg");

    .content-holder {
        background-color: white;
        padding: 4rem 0rem;
        border-radius: 5rem;
    }

    .blog-override{
        @media all and (max-width: 769px){
            padding: 2rem;
        }
    }
}