.tile-holder{
    padding: 3rem;

    .tile{
        border-radius: 0;
    }

    .tile-1{
        background-color: #AB23FF;
    }

    .tile-2{
        background-color: #38B6FF;
    }

    .tile-4{
        background-color: #FF66C4;
    }
}